body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #1c357a, #284491, #ffffff);
    min-height: 100vh;
}

img {
    margin-top: 95px; 
    margin-bottom: 35px;
    border: 12px solid white;
}

.container {
    width: 25%;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #333;
}

input[type="email"], input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.new-account {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1c357a, #284491, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 35%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
body {
    margin: 30;
    padding: 40;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1c357a, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 23%; /* Tamanho ajustado */
    text-align: center;
}

.container h2 {
    margin: 0 0 10px; /* Margin ajustado */
    padding: 15px 0; /* Padding ajustado */
    background-color: #1c357a; /* Azul mais forte */
    color: #fff;
    border-radius: 8px 8px 0 0; /* Borda superior arredondada */
}

.form-group {
    margin-bottom: 15px; /* Espaçamento ajustado */
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 13px;
    color: #333;
}

.form-group input {
    width: 80%;
    padding: 8px; /* Tamanho ajustado */
    border: 1px solid #1c357a; /* Azul mais forte */
    border-radius: 0 0 4px 4px; /* Borda inferior arredondada */
}

.btn {
    background-color: #1c357a; /* Azul mais forte */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to left, white 90%, #1c357a 10%);
    min-height: 100vh;
    display: flex;
}

.content {
    background-color: #1c357a; /* Azul bem escuro */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

h1 {
    margin-top: 0;
    color: white; /* Texto do h1 em branco */
}

p {
    font-size: 1.2em; /* Aumentando o tamanho da fonte do parágrafo */
}

.menu {
    list-style: none;
    padding: 0;
}

.menu-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px 0; /* Aumentando a distância entre os botões */
    padding: 15px 20px; /* Aumentando o espaço interno dos botões */
    text-align: center;
    text-decoration: none;
    display: block;
    width: 50%; /* Botões ocupam metade da largura da página */
}

.menu-button:hover {
    background-color: #2980b9;
}
